@model List<vivianClothing.Models.ProductCategory>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/PhotoSlide.css")

@*<script type="text/javascript" >
    $(function () {
        $.getJSON("http://localhost:3285/api/Products/GetProduct/1",
            function () {
                $.each(data, function (key, val) {
                    var str = val.ProductName + ' : ' + val.UnitPrice;
                    $('<li>', { html: str }).appendTo($('#products'));
                });
            });
        });
    
</script>*@

@*<div class="row visible-print">

    <div class="col col-sm-3">
    <img alt="The Vivian Shop" src="//dqz60m88mff11.cloudfront.net/assets/thehublogo-c3f31a6b7407e3c1020b6e1ae1df5db7.png">
    </div>

    <div class="col col-sm-9">
        <div class="row">
        <div class="col col-sm-6">
        <p>
        01303 210 311
        <br>
        www.thehubcycleshop.co.uk
        <br>
        info@thehubcycleshop.co.uk
        </p>
        </div>
        <div class="col col-sm-6">
        <p>
        61 - 63 Sandgate High St
        <br>
        Sandgate, Folkestone
        <br>
        CT20 3AH
        </p>
        </div>
        </div>
        <div class="row">
        <div class="col col-sm-12">
        <p>
        <strong>Mon - Sat</strong>
        9:30 am - 5:30 pm
        <strong>Sunday</strong>
        10:00 am - 4:00 pm
        </p>
        </div>
        </div>
        </div>

</div>*@

<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">

        <div class="item active">
          <img src="Images/powerbar.png" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>

        @for (int i = 0; i < 3; i++)
        {
          <div class="item">
          <img src="Images/ABC.png" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>  
        }
       
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">

        <div class="item active">
          <img src="Images/powerbar.png" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>

        @for (int i = 0; i < 3; i++)
        {
          <div class="item">
          <img src="Images/ABC.png" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>  
        }
       
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>


    
@*<h2>@Html.DisplayNameFor(model => model[0])</h2>*@

@*<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.Name, "ProductList", new {id = item.Id })</li>
    }
</ul>*@

<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
                  <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Vivian 小舖</a>
                    </div>
                    <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav">
                        <li class="active">@Html.ActionLink("首頁", "Index", "Home")</li>
                        <li><li>@Html.ActionLink("購物車", "Index", "Cart")</li></li>
                        <li><a href="#contact">Contact</a></li>
                      </ul>
                    </div><!-- /.nav-collapse -->
                  </div><!-- /.container -->
                </div>



@for (int i = 0; i < 3; i++)
{
  <div class="row">
        <div class="col-lg-4">
          <h2>Safari bug warning!</h2>
          <p class="text-danger">As of v7.0.1, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
        </div>
      </div>  
}




