@model List<vivianClothing.Models.ProductCategory>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/PhotoSlide.css")
@Styles.Render("~/Content/3DHoverEffects/demo.css")
@Styles.Render("~/Content/3DHoverEffects/style_common.css")
@Styles.Render("~/Content/3DHoverEffects/style2.css")



<div id="content" class="bs-docs-header">
      <div class="container">
        <h1>52SH</h1>
        <p>簡介</p>
      
      </div>
    </div>


<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
                  <div class="container">
                    <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("新品上市", "Index", "Cart")</li>
                        <li>@Html.ActionLink("熱銷商品", "Index", "Cart")</li>  
                        <li>@Html.ActionLink("限時特價", "Index", "Cart")</li>
                      </ul>
                    </div><!-- /.nav-collapse -->
                  </div><!-- /.container -->
                </div>

@*<div class="row visible-print">

    <div class="col col-sm-3">
    <img alt="The Vivian Shop" src="//dqz60m88mff11.cloudfront.net/assets/thehublogo-c3f31a6b7407e3c1020b6e1ae1df5db7.png">
    </div>

    <div class="col col-sm-9">
        <div class="row">
        <div class="col col-sm-6">
        <p>
        01303 210 311
        <br>
        www.thehubcycleshop.co.uk
        <br>
        info@thehubcycleshop.co.uk
        </p>
        </div>
        <div class="col col-sm-6">
        <p>
        61 - 63 Sandgate High St
        <br>
        Sandgate, Folkestone
        <br>
        CT20 3AH
        </p>
        </div>
        </div>
        <div class="row">
        <div class="col col-sm-12">
        <p>
        <strong>Mon - Sat</strong>
        9:30 am - 5:30 pm
        <strong>Sunday</strong>
        10:00 am - 4:00 pm
        </p>
        </div>
        </div>
        </div>

</div>*@

@*熱銷*@
<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">

        <div class="item active">
          <img src="Images/powerbar.png" alt="First slide" style="width:1200px;height:600px;margin:auto;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>

        @for (int i = 0; i < 3; i++)
        {
          <div class="item">
          <img src="Images/ABC.png" alt="Third slide" style="width:1200px;height:600px;margin:auto;">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>  
        }
       
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

@*限時搶購*@
<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">

        <div class="item active">
          <img src="Images/powerbar.png" alt="First slide" style="width:1200px;height:600px;margin:auto;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>

        @for (int i = 0; i < 3; i++)
        {
          <div class="item">
          <img src="Images/ABC.png" alt="Third slide" style="width:1200px;height:600px;margin:auto;">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>  
        }
       
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>


    
@*<h2>@Html.DisplayNameFor(model => model[0])</h2>*@

@*<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.Name, "ProductList", new {id = item.Id })</li>
    }
</ul>*@

<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
                  <div class="container">
                    <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("上身", "Index", "Cart")</li>
                        <li>@Html.ActionLink("下身", "Index", "Cart")</li>  
                        <li>@Html.ActionLink("洋裝", "Index", "Cart")</li>
                        <li>@Html.ActionLink("內/泳衣", "Index", "Cart")</li>
                        <li>@Html.ActionLink("鞋/包", "Index", "Cart")</li>
                        <li>@Html.ActionLink("配件", "Index", "Cart")</li>
                        <li>@Html.ActionLink("全", "Index", "Cart")</li>
                        <li> <input id="btnGetPersons" type="button" value="button" /></li>
                      </ul>
                    </div><!-- /.nav-collapse -->
                  </div><!-- /.container -->
               
    
    
    
</div>

<div id="grid" class="main" style="width: 1050px;overflow:visible"; >
				<div class="view">
					<div class="view-back">
						<span data-icon="A">566</span>
						<span data-icon="B">124</span>
						<a href="http://www.flickr.com/photos/ag2r/5033654303/in/photostream">&rarr;</a>
					</div>
					<img src="~/Images/3DHoverEffects/5.jpg" />
				</div>
				<div class="view">
					<div class="view-back">
						<span data-icon="A">210</span>
						<span data-icon="B">102</span>
						<a href="http://www.flickr.com/photos/ag2r/4846704157/in/photostream">&rarr;</a>
					</div>
					<img src="~/Images/3DHoverEffects/6.jpg" />
				</div>
				<div class="view">
					<div class="view-back">
						<span data-icon="A">690</span>
						<span data-icon="B">361</span>
						<a href="http://www.flickr.com/photos/ag2r/5439506585/in/photostream">&rarr;</a>
					</div>
					<img src="~/Images/3DHoverEffects/1.jpg" />
				</div>
				<div class="view">
					<div class="view-back">
						<span data-icon="A">987</span>
						<span data-icon="B">130</span>
						<a href="http://www.flickr.com/photos/ag2r/6271521984/in/photostream">&rarr;</a>
					</div>
					<img src="~/Images/3DHoverEffects/3.jpg" />
				</div>
    <div class="view">
					<div class="view-back">
						<span data-icon="A">987</span>
						<span data-icon="B">130</span>
						<a href="http://www.flickr.com/photos/ag2r/6271521984/in/photostream">&rarr;</a>
					</div>
					<img src="~/Images/3DHoverEffects/3.jpg" />
				</div>
    <div class="view">
					<div class="view-back">
						<span data-icon="A">987</span>
						<span data-icon="B">130</span>
						<a href="http://www.flickr.com/photos/ag2r/6271521984/in/photostream">&rarr;</a>
					</div>
					<img src="~/Images/3DHoverEffects/3.jpg" />
				</div>
    <div class="view">
					<div class="view-back">
						<span data-icon="A">987</span>
						<span data-icon="B">130</span>
						<a href="http://www.flickr.com/photos/ag2r/6271521984/in/photostream">&rarr;</a>
					</div>
					<img src="~/Images/3DHoverEffects/3.jpg" />
				</div>
    <div class="view">
					<div class="view-back">
						<span data-icon="A">987</span>
						<span data-icon="B">130</span>
						<a href="http://www.flickr.com/photos/ag2r/6271521984/in/photostream">&rarr;</a>
					</div>
					<img src="~/Images/3DHoverEffects/3.jpg" />
				</div>
     <div class="view">
					<div class="view-back">
						<span data-icon="A">987</span>
						<span data-icon="B">130</span>
						<a href="http://www.flickr.com/photos/ag2r/6271521984/in/photostream">&rarr;</a>
					</div>
					<img src="~/Images/3DHoverEffects/3.jpg" />
				</div>
			</div>

        @section scripts{
            @Scripts.Render("~/Scripts/3DHoverEffects/jquery.hoverfold.js")
            <script>
                //3D
                $('#grid').hoverfold();


                //TODO: problem not solve
                //get product list
                $('#btnGetPersons').click(function () {
                    $.getJSON("/Home/GetJsonData/1", function (data) {
                        var items = [];
                        $.each(data, function (key, val) {
                            items.push("<li id='" + key + "'>" + val + "</li>");
                        });
                        $("<ul/>", {
                            "class": "my-new-list",
                            html: items.join("")
                        }).appendTo("grid");
                    });
                });
            </script>
        }





