@model List<vivianClothing.Models.ProductCategory>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/3DHoverEffects/demo.css")
@Styles.Render("~/Content/3DHoverEffects/style_common.css")
@Styles.Render("~/Content/3DHoverEffects/style2.css")
@Styles.Render("~/Content/photoslideshow.css")


    <div id="content" class="bs-docs-header" style="background-color:black">
      <div class="container">
        <h1>52SH</h1>
        <p>簡介</p>
      
      </div>
    </div>

    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation"  style="background-color:#ff69b4; >  
                  <div class="container">
                    <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav ProductNav">
                        <li>@Html.ActionLink("新品上市", "Index", "Cart")</li>
                        <li>@Html.ActionLink("熱銷商品", "Index", "Cart")</li>  
                        <li>@Html.ActionLink("限時特價", "Index", "Cart")</li>
                        <li><a href="javascript:void(0);" onclick="getProductlist(1);">上身</a></li>
                        <li><a href="javascript:void(0);" onclick="getProductlist(2);">下身</a></li>
                        <li><a href="javascript:void(0);" onclick="getProductlist(3);">洋裝</a></li>
                        <li><a href="javascript:void(0);" onclick="getProductlist(4);">內/泳衣</a></li>
                        <li><a href="javascript:void(0);" onclick="getProductlist(5);">鞋/包</a></li>
                        <li><a href="javascript:void(0);" onclick="getProductlist(6);">配件</a></li>
                        <li><a href="javascript:void(0);" onclick="getProductlist(7);">全</a></li>
                      </ul>
                    </div><!-- /.nav-collapse -->
                  </div><!-- /.container -->
                </div>

    @*熱銷*@
    <div style="background-color:black">

    <div class="slider">
      <div class="slide active-slide">
        <div class="photocontainer">
          <div class="row">
            <div class="slide-copy col-xs-5">
              <h1>Flipboard Is Your Personal Magazine</h1>
              <p>It's a single place to discover, collect and share the news you care about.  Add your favorite social networks, publications and blogs to stay connected to the topics and people closest to you.</p>
              
              <ul class="get-app">
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/ios.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/android.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/windows.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/blackberry.png"></a></li>
              </ul>
            </div>
            <div class="slide-img col-xs-7">
              <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/home.png" style="width:540px;">
            </div>
          </div>
        </div>      
      </div>

        <div class="slide">
        <div class="container">
          <div class="row">
            <div class="slide-copy col-xs-5">
              <h1>Badges & Widgets</h1>
              <p>Millions of people use Flipboard to read and collect the news they care about, curating their favorite stories into their own magazines. Now you can promote the ones you create or think are awesome.</p>
              
              <ul class="get-app">
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/ios.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/android.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/windows.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/blackberry.png"></a></li>
              </ul>
            </div>
            <div class="slide-img col-xs-7">
              <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/bw.png" style="width:540px;">
            </div>
          </div>
        </div>      
      </div> 

      <div class="slide">
        <div class="container">
          <div class="row">
            <div class="slide-copy col-xs-5">
              <h1>Badges & Widgets</h1>
              <p>Millions of people use Flipboard to read and collect the news they care about, curating their favorite stories into their own magazines. Now you can promote the ones you create or think are awesome.</p>
              
              <ul class="get-app">
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/ios.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/android.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/windows.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/blackberry.png"></a></li>
              </ul>
            </div>
            <div class="slide-img col-xs-7">
              <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/home.png" style="width:540px;">
            </div>
          </div>
        </div>      
      </div> 

      <div class="slide">
        <div class="container">
          <div class="row">
            <div class="slide-copy col-xs-5">
              <h1>Badges & Widgets</h1>
              <p>Millions of people use Flipboard to read and collect the news they care about, curating their favorite stories into their own magazines. Now you can promote the ones you create or think are awesome.</p>
              
              <ul class="get-app">
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/ios.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/android.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/windows.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/blackberry.png"></a></li>
              </ul>
            </div>
            <div class="slide-img col-xs-7">
              <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/bw.png" style="width:540px;">
            </div>
          </div>
        </div>      
      </div> 

    </div>

    <div class="slider-nav">
      <a href="javascript:void(0);" class="arrow-prev"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-prev.png"></a>
      <ul class="slider-dots">
        <li class="dot active-dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
      </ul>
      <a href="javascript:void(0);" class="arrow-next"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-next.png"></a>
    </div> 
    
   

    @*限時搶購*@
    <div>

        <div class="slider2">
      <div class="slide2 active-slide">
        <div class="photocontainer2">
          <div class="row">
            <div class="slide-copy2 col-xs-5">
              <h1>Flipboard Is Your Personal Magazine</h1>
              <p>It's a single place to discover, collect and share the news you care about.  Add your favorite social networks, publications and blogs to stay connected to the topics and people closest to you.</p>
              
              <ul class="get-app">
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/ios.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/android.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/windows.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/blackberry.png"></a></li>
              </ul>
            </div>
            <div class="slide-img2 col-xs-7">
              <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/home.png" style="width:540px;">
            </div>
          </div>
        </div>      
      </div>

        <div class="slide2">
        <div class="photocontainer2">
          <div class="row">
            <div class="slide-copy2 col-xs-5">
              <h1>Badges & Widgets</h1>
              <p>Millions of people use Flipboard to read and collect the news they care about, curating their favorite stories into their own magazines. Now you can promote the ones you create or think are awesome.</p>
              
              <ul class="get-app">
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/ios.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/android.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/windows.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/blackberry.png"></a></li>
              </ul>
            </div>
            <div class="slide-img2 col-xs-7">
              <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/bw.png" style="width:540px;">
            </div>
          </div>
        </div>      
      </div> 

      <div class="slide2">
        <div class="photocontainer2">
          <div class="row">
            <div class="slide-copy2 col-xs-5">
              <h1>Badges & Widgets</h1>
              <p>Millions of people use Flipboard to read and collect the news they care about, curating their favorite stories into their own magazines. Now you can promote the ones you create or think are awesome.</p>
              
              <ul class="get-app">
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/ios.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/android.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/windows.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/blackberry.png"></a></li>
              </ul>
            </div>
            <div class="slide-img2 col-xs-7">
              <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/home.png" style="width:540px;">
            </div>
          </div>
        </div>      
      </div> 

      <div class="slide2">
        <div class="photocontainer2">
          <div class="row">
            <div class="slide-copy2 col-xs-5">
              <h1>Badges & Widgets</h1>
              <p>Millions of people use Flipboard to read and collect the news they care about, curating their favorite stories into their own magazines. Now you can promote the ones you create or think are awesome.</p>
              
              <ul class="get-app">
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/ios.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/android.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/windows.png"></a></li>
                <li><a href="#"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/blackberry.png"></a></li>
              </ul>
            </div>
            <div class="slide-img2 col-xs-7">
              <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/bw.png" style="width:540px;">
            </div>
          </div>
        </div>      
      </div> 

    </div>

        <div class="slider-nav2">
      <a href="javascript:void(0);" class="arrow-prev2"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-prev.png"></a>
      <ul class="slider-dots2">
        <li class="dot2 active-dot2">&bull;</li>
        <li class="dot2">&bull;</li>
        <li class="dot2">&bull;</li>
        <li class="dot2">&bull;</li>
      </ul>
      <a href="javascript:void(0);" class="arrow-next2"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-next.png"></a>
    </div> 
    
    </div>

   

    @*9宮格*@
    <div id="grid" class="main" style="width: 1050px;overflow:visible"; >	
        		
    </div>

     </div>



@*javascript section*@
        @section scripts{
            @Scripts.Render("~/Scripts/3DHoverEffects/jquery.hoverfold.js")
            <script>
                
                function main() {
                    //init hot sell nav
                    //init hot sell slide
                    //init limit time sell nav
                    //init limit time sell slide

                    //init product for nav
                   // getProductCategory();
                   
                    photoslideshow();
                    //init product for list
                    getProductlist(1);
                }
                function photoslideshow() {
                        $('.arrow-next').click(function () {
                            var currentSlide = $('.active-slide');
                            var nextSlide = currentSlide.next();

                            var currentDot = $('.active-dot');
                            var nextDot = currentDot.next();

                            if (nextSlide.length == 0) {
                                nextSlide = $('.slide').first();
                                nextDot = $('.dot').first();
                            }
                            currentSlide.fadeOut(600).removeClass('active-slide');
                            nextSlide.fadeIn(600).addClass('active-slide');

                            currentDot.removeClass('active-dot');
                            nextDot.addClass('active-dot');
                        });

                        $('.arrow-prev').click(function () {
                            var currentSlide = $('.active-slide');
                            var prevSlide = currentSlide.prev();

                            var currentDot = $('.active-dot');
                            var prevDot = currentDot.prev();

                            if (prevSlide.length == 0) {
                                prevSlide = $('.slide').last();
                                prevDot = $('.dot').last();
                            }
                            currentSlide.fadeOut(600).removeClass('active-slide');
                            prevSlide.fadeIn(600).addClass('active-slide');

                            currentDot.removeClass('active-dot');
                            prevDot.addClass('active-dot');
                        });
                        
                        $('.arrow-next2').click(function () {
                            var currentSlide = $('.active-slide2');
                            var nextSlide = currentSlide.next();

                            var currentDot = $('.active-dot2');
                            var nextDot = currentDot.next();

                            if (nextSlide.length == 0) {
                                nextSlide = $('.slide2').first();
                                nextDot = $('.dot2').first();
                            }
                            currentSlide.fadeOut(600).removeClass('active-slide2');
                            nextSlide.fadeIn(600).addClass('active-slide2');

                            currentDot.removeClass('active-dot2');
                            nextDot.addClass('active-dot2');
                        });

                        $('.arrow-prev2').click(function () {
                            var currentSlide = $('.active-slide2');
                            var prevSlide = currentSlide.prev();

                            var currentDot = $('.active-dot2');
                            var prevDot = currentDot.prev();

                            if (prevSlide.length == 0) {
                                prevSlide = $('.slide2').last();
                                prevDot = $('.dot2').last();
                            }
                            currentSlide.fadeOut(600).removeClass('active-slide2');
                            prevSlide.fadeIn(600).addClass('active-slide2');

                            currentDot.removeClass('active-dot2');
                            prevDot.addClass('active-dot2');
                        });

                        setInterval("$('.arrow-next').trigger('click');", 3000);
                        setInterval("$('.arrow-next2').trigger('click');", 4000);
                    }
                function getProductCategory() {
                    $.getJSON("api/ProductCategory" , function (data) {
                        var items = [];                  
                        for (var i = 0; i < 4; i++) {                        
                            items.push("<li class='ProductNavList'>" +
                                            "<a href='javascript:void(0);' " +
                                                "onclick='getProductlist(" + data[i]["Id"] +");'>" +
                                                data[i]["Name"] +
                                            "</a>" +
                                        "</li>"
                           )
                        }
                        $(".ProductNav").append(items);
                    });
                
                }
                function getProductlist(id) {               
                    //clear
                   $('#grid').empty();
                    //get data and fillin 
                    $.getJSON("api/ProductCategory/" + id.toString(), function (data) {
                        var items = [];
                        //TODO:replace for (var i = 0; i < data.Products.length; i++) { 
                        for (var i = 0; i < 9; i++) {
                           items.push("<div class='view'>" +
                                           "<div class='view-back'>" +
                                           "<span data-icon='A'> Name: " + data.Products[i]["Name"] + "</span>" +
                                           "<span data-icon='B'> Price :" + data.Products[i]["Price"] + "</span>" +
                                           "<a href='/Home/ProductDetail/" + data.Products[i]["Id"] + "' >&rarr;</a>" +
                                           "</div>" +
                                           "<img src='Images/3DHoverEffects/3.jpg' />" +
                                           "</div>" +
                                       "</div>"
                        )}
                       
                        $("#grid").append(items);
                        $('#grid').hoverfold();
                    });
                }
                $(document).ready(main);
                
            </script>
        }