<!DOCTYPE html>
<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Vivian 小舖</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
         @Styles.Render("~/Content/PagedList.css")
        @Styles.Render("~/Content/bootstrap.css")

    </head>
    <body>
        <header>
            <div class="navbar navbar-fixed-top navbar-inverse" role="navigation" style="background-color:#ff69b4;" >
                  <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Vivian 小舖</a>
                    </div>
                    <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav">
                        <li @*class="active"*@>@Html.ActionLink("首頁", "Index", "Home")</li>
                        <li>@Html.ActionLink("會員中心", "Login", "Member")</li>
                          @*<li><a class="glyphicon glyphicon-heart" href="/Home/Index">首頁</a></li>
                          <li><a class="glyphicon glyphicon-heart" href="/Member/Login">會員中心</a></li>*@
                          <li>@Html.ActionLink("購物流程", "Index", "Cart")</li>
                        <li>@Html.ActionLink("訂單查詢", "Index", "Cart")</li>
                        <li>@Html.ActionLink("客服", "Index", "Cart")</li>
                      </ul>
                    </div><!-- /.nav-collapse -->
                  </div><!-- /.container -->
                </div><!-- /.navbar -->
        </header>

        <div id="body">       
            @RenderSection("featured", required: false)
      
            @RenderBody()
        </div>

       @* <footer class="footer hidden-print"  style="background-color: #eee;">          
            <div class="container">
                <div class="row">
                    <div class="col col-lg-4 col-sm-12">
                        <p>
                        ©
                        2014 The Hub Cycle Shop
                        <br>
                        <a href="/legal">Legal &amp; privacy</a>
                        </p>
                        <p>
                        <a href="http://twitter.com/thehubcycleshop">
                        <img alt="Twitter" src="//dqz60m88mff11.cloudfront.net/assets/twitter-0771cb3df35ad4d3c64b589638e390d8.png" height="32" width="32">
                        </a>
                        <a href="http://www.facebook.com/pages/Folkestone-United-Kingdom/The-Hub-Cycle-Shop/247408027656?ref=ts">
                        <img alt="Facebook" src="//dqz60m88mff11.cloudfront.net/assets/facebook-a2e1e171179ff7715432cc955d1cba09.png" height="32" width="32">
                        </a>
                        </p>
                    </div>
                    <div class="col col-lg-4 col-sm-12">
                        <p>
                        <strong>Mon - Sat</strong>
                        <br>
                        9:30 am - 5:30 pm
                        </p>
                        <p>
                        <strong>Sunday</strong>
                        <br>
                        10:00 am - 4:00 pm
                        </p>
                    </div>
                    <div class="col col-lg-4 col-sm-12">
                        <i class="glyphicon glyphicon-phone"></i>
                        <a href="tel:01303210311">01303 210 311</a>
                        <br>
                        <i class="glyphicon glyphicon-envelope"></i>
                        <a href="mailto:info@thehubcycleshop.co.uk">info@thehubcycleshop.co.uk</a>
                        <address>
                            <a href="http://maps.apple.com/?q=61%20Sandgate%20High%20St%20Sandgate%20CT20%203AH">
                            61 - 63 Sandgate High St
                            <br>
                            Sandgate, Folkestone
                            <br>
                            CT20 3AH
                            </a>
                        </address>
                    </div>
                      <div class="col col-lg-4 col-sm-12"></div>
                     <div class="col col-lg-4 col-sm-12"></div>
                    <div class="col col-lg-4 col-sm-12">
                        <div class="panel-heading">
                        <h4>Newsletter</h4>
                        </div>

                        <p>Enter your email to receive info on events, specials and other goodies from us.</p>
                        <form accept-charset="UTF-8" action="/subscriptions" class="form-inline" id="new_subscription" method="post">
                            <div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden">
                                <input name="authenticity_token" value="w8m2Cx9HhjcA6YqjfJBCWml7f3x0zE46BMiURK81D9A=" type="hidden">
                            </div>
                            <div class="input-group">
                                <input id="subscription_email" name="subscription[email]" placeholder="Email" size="30" type="text">
      
                            </div>
                              <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Subscribe</button>
                                </span>
                        </form>
                        <small><a href="/legal">Privacy policy</a></small>
                    </div>
                </div>
            </div>

            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Vivian 小舖</p>
                </div>
            </div>
            </footer>*@
            
    

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/bootstrap.js")
        @Scripts.Render("~/Scripts/3DHoverEffects/jquery.hoverfold.js")

       
        @RenderSection("scripts", required: false)
    </body>
</html>
